
.carousel-inner h5 {
    font-size:7vw;
    font-family: Snell Roundhand;
    margin-bottom:100%;
    overflow: hidden;
}

.carousel-inner h2 {
    font-family: Chalkboard;
    font-size:2vw;
    margin-bottom:100%;
    overflow: hidden;
}


.searchbar input {
    padding-left: 1em;
}

.carousel-item3 h5 {
    color:rgba(244, 43, 11,.6);
}

.searchbar {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top:-10px; 

}

.searchengine {
    grid-row: 1/2;
}

.searchLine {
    margin-left:auto;
    margin-right:auto;
    width:60vw;
    grid-row: 2/3;
    display:flex;
    align-items: center;
    /* margin-top: 70px; */
}

.searchLineColor {
    width:100%;
    height:0.2vh;
    background-color: rgba(68,177,179,90%);
}

.searchTag {
    margin-left: auto;
    margin-right:auto;
    width:100%;
    display:flex;
    justify-content: center;
    grid-row: 3/4;
    /* padding-top:1.5em; */
}



.searchTag>p{
    float: left;
    margin-top:8px;
    color: rgba(68,177,179,100%);
    font-family: Chalkboard;
    font-size: 1.2em;

}

.searchTag ul {
    padding-left: 10px;
}

.searchTag li {
    display:inline-block;
    border: 2px solid rgba(68,177,179,90%);
    padding: 0.5em;
    height:2.8em;
    color: rgba(68,177,179,100%);
}

.searchTag li:hover {
    cursor: pointer;
    box-shadow: 3px 4px 6px 1px rgba(68,177,179,90%);
}

@media screen and (max-width:800px){

    .carousel-control-prev {
        display:none;
    }

    .carousel-control-next {
        display:none;
    }

    .searchbar {
        display:none;
    }

}

@media screen and (min-width:800px){

    .searchbar {
        background-color: rgba(68,177,179,19%);
        width:100%;
        /* height:15vw; */
    }

    

    .searchengine {
        width:60vw;
        height:60px;
        position: absolute;
        display:grid;
        grid-template-columns: 9fr 1fr;
        grid-template-rows: 100%;
        z-index: 1000;
        margin-left:20%;
    }

    .searchbar input {
        width:100%;
        height:100%;
        display:block;
        margin-left:auto;
        margin-right:auto;
        border:4px solid rgba(68,177,179,100%);

    }

    .magnifier {
        margin:0;
        background: rgba(68,177,179,100%);
        padding:0.1vw;
        height:60px;
    }
    .magnifier i {
        width:100%;
        height:100%;
        color:white;
        font-size:3.5vw;
        line-height:60px;
        text-align: center;
        
    }

}

